main {
    background-image: url('/assets/beautiful-white-background-with-circular-shiny-elements-with-copyspace.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}